#!/bin/bash

echo "> Running $(basename "$0") "

set -eufo pipefail

{{ $brews := list
    "bash"
    "colima"
    "direnv"
    "displayplacer"
    "fd"
    "findutils"
    "fzf"
    "gh"
    "htop"
    "jj"
    "jq"
    "kind"
    "pandoc"
    "pinentry-mac"
    "pre-commit"
    "pyenv-virtualenv"
    "ripgrep"
    "shellcheck"
    "watch"
    "yq"
    "zoxide"
    -}}

{{ $casks := list
    "1password/tap/1password-cli"
    "alt-tab"
    "emacs-app"
    "ghostty"
    "font-fira-code"
    "font-inconsolata"
    "font-linux-biolinum"
    "karabiner-elements"
    "logseq"
    "raycast"
    "rectangle"
    "vlc"
    -}}

brew bundle --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
