export DD_GITHUB_USER=iliakur
export DD_GITLAB_USER="ilia.kurenkov"
export DD_GITLAB_TOKEN="{{ onepasswordRead "op://Private/gitlab-api-token/credential" }}"
export DD_CURRENT_RELEASE=7.47.0
export JIRA_API_TOKEN="{{ onepasswordRead "op://Private/jira-api-token/credential" }}"
export JIRA_EMAIL=ilia.kurenkov@datadoghq.com