export DD_GITHUB_USER="${GITHUB_USER}"
export DD_GITLAB_USER="ilia.kurenkov"
export DD_GITLAB_TOKEN="{{ onepasswordRead "op://Private/gitlab-api-token/credential" }}"
# datadog-agent tooling needs this variable
export GITLAB_TOKEN="${DD_GITLAB_TOKEN}"
export JIRA_API_TOKEN="{{ onepasswordRead "op://Private/jira-api-token/credential" }}"
export JIRA_EMAIL=ilia.kurenkov@datadoghq.com
# ddqa also needs jira credentials and github username
export DDQA_JIRA_TOKEN="${JIRA_API_TOKEN}"
export DDQA_JIRA_EMAIL="${JIRA_EMAIL}"
export DDQA_GITHUB_USER="${GITHUB_USER}"